.upload_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 55px;
    width: 100%;
    background: #202122;
}

.upload_wapper {
    width: 1160px;
    margin: 0 auto;
}

.upload_top img {
    position: relative;
    right: 0;
    top: 3px;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*报价单css*/
.main_container {
    height: 100%;
}

.main_container_wrap {
    position: absolute;
    z-index: 1;
    top: 120px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.sidebar_scroll {
    position: relative;
    float: left;
    width: 125px;
    height: 100%;
    margin-right: 30px;
}

.main_scroll {
    float: left;
    width: 1000px;
    height: 100%;
    position: relative;
}

.xfc_box {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 1px;
    z-index: 99;
}

    .xfc_box > div {
        position: relative;
        height: 100%;
    }

.fixed_tag {
    position: absolute;
    top: -40px;
    right: 0;
    width: 100px;
    height: 75px;
}

    .fixed_tag img {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        right: 8rem;
    }

.main_container .sidebar_c {
    position: absolute;
    z-index: 99;
    /*width: 125px;
    padding-top: 30px;*/
}
.sidebar_c .sidebar_list{
    border-right: 2px solid #ccc;
    padding-right: 15px;
}
.sidebar_c .sidebar_list .sidebar_item{
    position: relative;
    margin-bottom: 20px;
    width: 95px;
}
.sidebar_c .sidebar_list .sidebar_item .dot{
    position: absolute;
    top:18px;
    right: -20px;
    width: 8px;
    height: 8px;
    background: rgba(0,0,0,.6);
    border-radius: 8px;
}
.sidebar_c .sidebar_list .sidebar_item .namebox .name {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    text-align: center;
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
}
.sidebar_c .sidebar_list .sidebar_item.active .namebox .name{
    background: #feb300;
}
.sidebar_c .sidebar_list .sidebar_item.active .dot{
    background: #feb300;
}

.sidebar_list .namebox .expand {
    width: 15px;
    height: 15px;
    background: url('../images/down_a.png') no-repeat;
    background-size: 15px 15px;
    margin-top: 8px;
}

    .sidebar_list .namebox .expand.up {
        background: url('../images/up_a.png') no-repeat;
        background-size: 15px 15px;
        margin-top: 6px;
    }

.sidebar_list .namebox .addbtn_box {
    position: relative;
}

.sidebar_list .addbtn {
    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/icon_add.png') no-repeat;
    background-size: 18px 18px;
    margin-top: 6px;
}

.addbtn_box {
    position: relative;
}

.hovercon_box {
    position: absolute;
    top: 0;
    left: 18px;
    display: none;
    overflow: hidden;
    z-index: 99;
}

.hover_list {
    width: 100px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
}

    .hover_list .hover_item {
        line-height: 25px;
        color: #666;
        padding: 5px 10px;
    }

        .hover_list .hover_item.active, .hover_list .hover_item:hover {
            background: #f7f7f7;
        }

        .hover_list .hover_item img {
            float: left;
            width: 15px;
            margin-right: 5px;
            margin-top: 5px;
        }

.sidebar_list .side_subbar_list {
    padding-left: 20px;
    line-height: 25px;
    color: #666;
}

    .sidebar_list .side_subbar_list li.active a, .sidebar_list .side_subbar_list a:hover {
        color: #2b89e0;
        cursor: pointer;
    }
/*
.main_c{
    margin-left: 145px;
}
*/
.main_c {
    position: absolute;
    width: 1000px;
}

.crumbs_nav_box {
    /*position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    */
    margin-top: 70px;
    background: #f2f2f2;
    line-height: 40px;
}

.crumbs_nav {
    margin-left: 160px;
}

    .crumbs_nav a {
        color: #2b89e0;
    }

    .crumbs_nav .arr {
        margin: 0 8px;
    }


.print_module, .price_module {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}
.print_module {
    background: none;
    padding: 20px 0;
}

    .print_module .titlebox, .price_module .titlebox {
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
        line-height: 20px;
    }
    .print_module .titlebox{
        background: #fff;
        padding: 20px;
        padding-bottom:0;
        border: none;
    }
    .print_module .titlebox .title{
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
    }

        .print_module .titlebox .print_btn, .price_module .titlebox .t_btn {
            color: #f60;
        }

.print_top {
    padding: 20px 20px 0 50px;
    background: #fff;
    margin-bottom: 20px;
}

.chart_box {
    margin-bottom: 20px;
}

.base_info_box {
    width: 410px;
    margin-right: 100px;
}

    .base_info_box .top {
        margin-bottom: 10px;
    }

        .base_info_box .top h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .base_info_box .top p {
            color: #999;
        }

.set_price_table_box {
    background: #f0efeb;
    padding: 10px;
}

.set_price {
    border: none;
}

    .set_price tr td {
        height: 30px;
        min-height: 30px;
        width: 50%;
        text-align: center;
        vertical-align: middle;
        border-bottom: 2px solid #d4d4ca;
        font-weight: bold;
        cursor: pointer;
    }

        .set_price tr td .op {
            display: block;
            height: 25px;
            width: auto;
            margin: 5px;
        }

tr td {
    min-height: 30px;
}

.set_price tr:first-child td {
    border: none;
    border-bottom: 2px solid #d4d4ca;
    font-weight: normal;
}

.set_price tr td:first-child {
    border-bottom: 2px solid #000;
    border-left: none;
    border-right: none;
    color: #666;
    font-weight: normal;
}

.set_price tr td:last-child {
    border-right: none;
}

.set_price tr td:nth-child(2) {
    border-left: none;
}

.set_price tr td:nth-child(3),
.set_price tr td:last-child:hover {
    background: #edeae5;
}

.set_price tr:first-child td,
.set_price tr:nth-child(4) td {
    background: none;
}

.set_price tr:nth-child(4) td {
    border-bottom: 2px solid #000;
}

.set_price tr:last-child td {
    padding-top: 1px;
    border: none;
    background: none;
}

    .set_price tr:last-child td .foot {
        height: 100%;
        text-align: left;
        padding: 10px 0;
    }

        .set_price tr:last-child td .foot > div {
            overflow: hidden;
        }

            .set_price tr:last-child td .foot > div:first-child {
                margin-right: 10px;
            }

            .set_price tr:last-child td .foot > div p {
                float: left;
            }



.option_table_box {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
}
.option_table_box .titlebox{
    margin-bottom: 15px;
    padding: 0;
}
.option_table tr td {
    width: 12%;
    min-height: 18px;
    line-height: 18px;
    font-size: 10px;
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid #c8cabd;
    border-right: 1px solid #c8cabd;
    padding: 5px;
    background: #fff;
}

    .option_table tr td img {
        width: 50px;
        text-align: left;
        margin: 5px 0;
    }

    .option_table tr td:first-child {
        width: 16%;
    }

        .option_table tr td:first-child .t_img {
            width: 82%;
            margin: 0;
        }

    .option_table tr td:last-child {
        width: 14%;
        border-right: none;
    }

.option_table thead tr td {
    height: 25px;
    line-height: 25px;
    background: #a9a69d;
    text-align: center;
    padding: 0;
    color: #000;
}

.option_table tr td.option_item {
    text-align: center;
}

    .option_table tr td.option_item div {
        display: inline-block;
    }

    .option_table tr td.option_item span {
        cursor: pointer;
        color: #2b89e0;
    }

        .option_table tr td.option_item span.sep {
            margin: 0 8px;
        }

.option_table thead tr td .add_btn {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/icon_add.png') no-repeat;
    background-size: 18px 18px;
    cursor: pointer;
}

.option_table tbody tr:nth-child(odd) td {
    background: #f0efeb;
}

.option_table tbody tr:nth-child(even) td {
    background: #edeae5;
}

.option_table thead tr td:first-child {
    background: #fff;
}

.option_table tbody tr td:first-child,
.option_table tbody tr td:nth-child(4) {
    background: #fff;
}

.option_table tbody tr:last-child td {
    border-bottom: 2px solid #a9a69d;
}

.option_table tfoot tr td {
    border-bottom: 2px solid #a9a69d;
}

    .option_table tfoot tr td:first-child {
        border-right: none;
    }

    .option_table tfoot tr td:last-child {
        background: #a9a69d;
    }

.total.bule {
    color: #3f95e0;
    font-weight: bold;
}

.total.green {
    color: #83ac2c;
    font-weight: bold;
}

.total.sl {
    color: #0c3861;
    font-weight: bold;
}

.share {
    margin-top: .2px;
    width: 2.5px;
    position: absolute;
    right: 2.2px;
}

.print {
    margin-top: .1px;
    width: 3px;
    position: absolute;
    right: 6.8px;
}

/*打印弹框 css*/
.msgbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: none;
}

    .msgbox .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }

    .msgbox .mascontent {
        position: absolute;
        top: 100px;
        left: 10%;
        width: 700px;
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
    }

.print_msgbox {
    display: none;
}

.print_msg .titlebox {
    height: 40px;
    line-height: 40px;
    background: #f2f2f2;
    padding: 0 20px;
}

    .print_msg .titlebox .add_mail {
        padding: 5px 10px;
        background: #f60;
        color: #fff;
        margin-left: 15px;
        border: none;
        border-radius: 4px;
        margin-top: 6px;
    }

    .print_msg .titlebox .right p {
        text-align: center;
        font-size: 14px;
    }

    .print_msg .titlebox > div {
        width: 50%;
    }

.print_msg .mail_list li {
    line-height: 30px;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    padding: 5px 10px;
}

    .print_msg .mail_list li.new_item input {
        height: 30px;
        width: 200px;
        padding: 0 10px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
    }

    .print_msg .mail_list li.new_item .sure_btn {
        background: #f60;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
    }

    .print_msg .mail_list li:last-child {
        border: none;
    }

    .print_msg .mail_list li > div {
        width: 50%;
    }

        .print_msg .mail_list li > div span {
            color: #2b89e0;
            cursor: pointer;
        }

            .print_msg .mail_list li > div span.sep {
                margin: 0 10px;
            }

        .print_msg .mail_list li > div:last-child {
            text-align: center;
        }

            .print_msg .mail_list li > div:last-child > div {
                display: inline-block;
            }
/*新增弹框 css*/
.add_msgbox {
    display: none;
}

.add_msg {
    padding: 30px 15px 15px 15px;
}

    .add_msg .imgbox {
        width: 250px;
        height: 250px;
        border: 1px solid #e6e6e6;
        margin-right: 15px;
    }

        .add_msg .imgbox img {
            display: block;
            width: 150px;
            height: 150px;
            margin: auto auto;
            margin-top: 50px;
        }

.add_option_list li {
    margin-bottom: 10px;
}

    .add_option_list li label {
        font-size: 14px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .add_option_list li input {
        height: 30px;
        width: 280px;
        padding: 0 10px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
    }

    .add_option_list li.name input {
        width: 200px;
        margin-right: 10px;
        padding: 0 10px;
    }

    .add_option_list li.name select {
        border: 1px solid #e6e6e6;
        color: #666;
        height: 30px;
        width: 70px;
        border-radius: 4px;
    }

    .add_option_list li:last-child .sure_btn {
        background: #f60;
        color: #fff;
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        margin-left: 150px;
    }

.add_msg .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    background: url('../images/icon_close.png') no-repeat;
    background-size: 18px 18px;
    cursor: pointer;
}
/*编辑弹框 css*/
.edit_msgbox {
    display: none;
}

.edit_msg {
    padding: 30px 15px 15px 15px;
}

    .edit_msg .imgbox {
        width: 150px;
        height: 150px;
        border: 1px solid #e6e6e6;
        margin-right: 15px;
    }

        .edit_msg .imgbox img {
            display: block;
            width: 150px;
            height: 150px;
            margin: auto auto;
        }

    .edit_msg .close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 18px;
        height: 18px;
        background: url('../images/icon_close.png') no-repeat;
        background-size: 18px 18px;
        cursor: pointer;
    }
.imgmsgbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0,0,0,1);
}
.imgmsgbox .imgbox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

    .imgmsgbox .imgbox img {
        display: block;
        width: auto;
        height: 100%;
        margin: auto auto;
    }
/*新增基本信息 css*/
.base_module .base_box {
    border: 1px solid #e6e6e6;
    margin: 10px 30px;
    padding: 20px;
    margin-bottom: 15px;
}

    .base_module .base_box > div:first-child {
        width: 200px;
        margin-right: 30px;
    }

    .base_module .base_box > div h4 {
        font-weight: bold;
        margin-bottom: 6px;
    }

    .base_module .base_box > div .base_list li {
        line-height: 20px;
    }

.msgbox .msg_titlebox {
    height: 40px;
    background: #f7f7f7;
    padding: 0 10px;
    line-height: 40px;
    border-bottom: 1px solid #e6e6e6;
}

    .msgbox .msg_titlebox h3 {
        font-size: 14px;
    }

    .msgbox .msg_titlebox .close {
        width: 20px;
        height: 20px;
        background: url('../images/icon_close2.png') no-repeat;
        background-size: 20px 20px;
        margin-top: 10px;
            position: absolute;
    top: 2px;
    right: 8px;
    }

.msgbox .m_c {
    background: #fff;
    padding: 20px;
}

.base_msg .base_t {
    margin-bottom: 40px;
    text-align: center;
}

    .base_msg .base_t h5 {
        font-size: 14px;
        margin-bottom: 5px;
        color: #333;
    }

    .base_msg .base_t .desc {
        color: #999;
    }

.base_msgbox .base_msg {
    width: 800px;
}

.base_msg .base_form.top {
    margin-bottom: 40px;
    padding-left: 4rem;
}

.base_msg .base_form > ul {
    width: 310px;
    margin-right: 40px;
}

    .base_msg .base_form > ul li {
        margin-bottom: 10px;
    }

        .base_msg .base_form > ul li.s_li > div {
            margin-right: 8px;
        }

        .base_msg .base_form > ul li.s_li .in_addr {
            width: 100px;
        }

        .base_msg .base_form > ul li.s_li select {
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            height: 30px;
        }

.base_msg .base_form .name {
    margin-bottom: 5px;
}

.base_msg .base_form input {
    height: 30px;
    width: 280px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

.base_msg .btn_box {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

    .base_msg .btn_box button {
        width: 80px;
        border: none;
        border-radius: 4px;
        height: 30px;
        margin: 0 20px;
        color: #fff;
    }

        .base_msg .btn_box button.surebtn {
            background: #ffc43a;
        }
/*主题创意 css*/
.te_module .te_m_c > div h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 40px;
    color: #333;
}

.te_module .te_m_c .tebox {
    width: 430px;
    height: 250px;
    border: 1px solid #e6e6e6;
    margin: 22px;
    margin-bottom: 10px;
    text-align: center;
}

    .te_module .te_m_c .tebox .dimg {
        width: 100px;
        height: 100px;
        margin-top: 75px;
    }

    .te_module .te_m_c .tebox .name {
        font-size: 14px;
        color: #333;
        margin: 50px auto 5px;
    }

.theme_module .theme_m_c .themebox .con {
    height: 100px;
}

    .theme_module .theme_m_c .themebox .con .color span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 10px 5px;
    }

.theme_module .theme_m_c .themebox .desc {
    color: #999;
}

.te_module .te_m_c .tebox .btnbox button {
    float: left;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin: 0 15px;
    color: #666;
}

    .te_module .te_m_c .tebox .btnbox button.editbtn {
        background: #f60;
        color: #fff;
    }

.theme_msgbox .theme_msg {
    width: 900px;
}

.theme_msgbox .theme_list li {
    float: left;
    width: 31%;
    margin-right: 3%;
    margin-bottom: 25px;
}

    .theme_msgbox .theme_list li:first-child .theme_add_box {
        width: 100%;
        height: 105px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        text-align: center;
        font-size: 35px;
        color: #2b89e0;
        padding-top: 20px;
    }

        .theme_msgbox .theme_list li:first-child .theme_add_box img {
            margin-right: 20px;
            width: 40px;
            height: 40px;
            vertical-align: middle
        }

    .theme_msgbox .theme_list li:nth-child(3n) {
        margin-right: 0;
    }

    .theme_msgbox .theme_list li .name {
        color: #333;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .theme_msgbox .theme_list li .desc {
        height: 30px;
        line-height: 15px;
        color: #999;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden
    }

    .theme_msgbox .theme_list li .selbtn {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #f60;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 10px;
        overflow: hidden;
    }

        .theme_msgbox .theme_list li .selbtn span {
            display: inline-block;
            height: 100%;
            line-height: 30px;
        }

        .theme_msgbox .theme_list li .selbtn.checked {
            background: #e6e6e6;
            color: #666;
        }

            .theme_msgbox .theme_list li .selbtn.checked span {
                display: inline-block;
                content: '';
                background: url('../images/icon_add.png') no-repeat left center;
                background-size: 15px 15px;
                padding-left: 20px;
            }

    .theme_msgbox .theme_list li .btnbox button {
        width: 49%;
        height: 25px;
        border: none;
        border-radius: 4px;
        color: #666;
        background: #e6e6e6;
    }

    .theme_msgbox .theme_list li .namebox .color {
        margin-left: 10px;
    }

        .theme_msgbox .theme_list li .namebox .color span {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0 3px;
            margin-top: 3px;
        }

.msgbox .theme_add_msg {
    overflow: visible;
}

.theme_add_msgbox .theme_add_msg .hbox {
    margin-bottom: 20px;
}

    .theme_add_msgbox .theme_add_msg .hbox h4 {
        font-size: 13px;
        margin-bottom: 5px;
    }

.theme_add_msgbox .theme_add_msg .inbox {
    margin-bottom: 10px;
}

    .theme_add_msgbox .theme_add_msg .inbox .name {
        margin-bottom: 5px;
    }

    .theme_add_msgbox .theme_add_msg .inbox input {
        width: 400px;
        height: 30px;
        padding: 0 10px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
    }

.theme_add_msgbox .theme_add_msg .bbox {
    text-align: center;
}

.theme_add_msgbox .theme_add_msg button.surebtn {
    width: 80px;
    height: 30px;
    border: none;
    background: #f60;
    color: #fff;
    border-radius: 4px;
    margin: 10px auto;
    margin-bottom: 20px;
}

.theme_add_msgbox .theme_add_msg .color_sel_list {
    margin-left: 70px;
    margin-top: 30px;
}

    .theme_add_msgbox .theme_add_msg .color_sel_list li {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .theme_add_msgbox .theme_add_msg .color_sel_list button {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        border: none;
    }
/*效果图*/
.effect_msgbox .effect_msg .imgbox {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 5px;
}

    .effect_msgbox .effect_msg .imgbox img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -moz-object-fit: cover;
        -webkit-object-fit: cover;
        -ms-object-fit: cover;
    }

.effect_msgbox .effect_msg_close {
    width: 30px !important;
    font-size: 14px;
    line-height: 20px;
    background: #f7f7f7 !important;
}

.effect_swiper {
    width: 370px;
}

    .effect_swiper .swiper-slide {
        padding-top: 50px;
    }

        .effect_swiper .swiper-slide .namei {
            color: #333;
        }

        .effect_swiper .swiper-slide .imgbox {
            width: 200px;
            height: 100px;
            overflow: hidden;
            margin: 5px auto 10px;
        }

            .effect_swiper .swiper-slide .imgbox img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                -moz-object-fit: cover;
                -webkit-object-fit: cover;
                -ms-object-fit: cover;
            }

    .effect_swiper .sbtn {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        background: #e6e6e6;
        border: 1px solid #d2d2d2;
        line-height: 30px;
        font-size: 20px;
    }

.swiper-button-next, .swiper-button-prev {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: #e6e6e6;
    border: 1px solid #d2d2d2;
    line-height: 30px;
    font-size: 20px;
    background: #f2f2f2;
}

    .swiper-button-next:before {
        content: '>'
    }

    .swiper-button-prev:before {
        content: '<'
    }

.effect_swiper .swiper-slide .infobox {
    margin-bottom: 8px;
}

.effect_module .effectbox {
    position: relative;
}

    .effect_module .effectbox .moreadd {
        position: absolute;
        bottom: 7px;
        right: 10px;
        color: #2b89e0;
        text-decoration: underline;
    }

.add_effect_msg {
    width: 600px;
    text-align: center;
}

    .add_effect_msg .imgbox {
        width: 150px;
        height: 150px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        text-align: center;
        margin: 10px auto;
    }

        .add_effect_msg .imgbox .dimg {
            width: 100px;
            height: 100px;
            margin-top: 25px;
        }

    .add_effect_msg .inbox {
        margin-bottom: 10px;
    }

    .add_effect_msg .name {
        margin-bottom: 5px;
    }
    
.theme_msgbox .m_scroll {
    height: 450px;
    overflow-y: scroll;
}
.base_msgbox .m_scroll {
    height: 500px;
    overflow-y: scroll;
}
/*新增订单css*/
.new_order_c {
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}

    .new_order_c .base_msg {
        width: 1000px;
    }

        .new_order_c .base_msg .base_form input {
            width: 400px;
        }

        .new_order_c .base_msg .base_form > ul {
            width: 45%;
            margin-right: 5%;
        }

            .new_order_c .base_msg .base_form > ul li.s_li .in_addr {
                width: 250px;
            }

.colorpicker .dropdown-menu {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
}

    .colorpicker .dropdown-menu button {
        border: none;
        background: #fff;
        /* float: right; */
        font-size: 21px;
        font-weight: bold;
        color: #999;
        /* text-align: right; */
        float: right;
        line-height: 16px;
    }

.new_order_container {
    background: #fff;
    min-height: 100px;
}

.loading_box {
    display: none;
    text-align: center;
    margin: 20px;
}

    .loading_box.show {
        display: block;
    }

    .loading_box > div {
        display: inline-block;
        margin-top: 40px;
    }

    .loading_box img {
        width: 20px;
        margin-right: 10px;
    }

    .loading_box p {
        font-size: 14px;
    }
/*折扣弹框css*/
.discount_msg .m_c{
    text-align: center;
}
.discount_msg .m_c .optionbox{
    display: inline-block;
}
.discount_msg .inbox{
    margin-bottom: 20px;
}
.discount_msg .inbox .name{
    margin-right: 10px;
    margin-top: 5px;
}
.discount_msg .inbox .num_inp{
    height: 30px;
    width: 280px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.discount_list .discount_item{
    width: 290px;
    line-height: 30px;
    margin-bottom: 5px;
    background: #f2f2f2;
    padding:5px;

}
.discount_list .discount_item span{
    float: left;
    width: 60px;
    margin: 5px;
    cursor: pointer;
}
.discount_list .discount_item span.active{
    background: #f60;
    color: #fff;
    border-radius: 4px;
}
.discount_msg button.surebtn {
    width: 80px;
    height: 30px;
    border: none;
    background: #f60;
    color: #fff;
    border-radius: 4px;
    margin: 10px auto;
    margin-bottom: 20px;
}
/*复制到弹框css*/
.copy_msg {
    width: 480px !important;
}
.copy_msg .m_c{
    padding: 0;
    text-align: left;
}
.copy_msg .m_c .tab_nav{
    padding: 5px 10px;
    padding-bottom: 0;
}
.copy_msg .m_c .tab_nav span{
    float: left;
    padding: 5px 10px;
    margin-right: 5px;
    color: #333;
    cursor: pointer;
}
.copy_msg .m_c .tab_nav span.active{
    border-bottom: 2px solid #f60;
    cursor: pointer;
}
.copy_msg .m_c .tab_con .item{
    line-height: 35px;
    color: #999;
    padding: 0 10px;
    margin-bottom: 5px;
}
.copy_msg .m_c .tab_con .item.active{
    background: #f2f2f2;
    color: #f60;
}

.copy_msg .m_c .tab_con .item:hover{
    background: #f2f2f2;
}

.copy_msg .m_c .tab_con p{
    margin: 45px 0 40px;
    text-align: center;
}

.copy_msg .bbox{
    padding: 10px;
    background: #f2f2f2;
    overflow: hidden;
}
.copy_msg button.surebtn {
    float: right;
    width: 80px;
    height: 30px;
    border: none;
    background: #f60;
    color: #fff;
    border-radius: 4px;
}
.copy_btn_box{
    position: fixed;
    bottom:100px;
    right: 0;
    z-index: 999;
}
.copy_btn_box span{
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #f60;
    cursor: pointer;
}
.copy_btn_box span.copy_btn{
    background: #f90;
}

.cuPriceStic {
    display: none;
}
.cuPriceStic.active {
    display: block;
}

.cuPriceDny {
    display: none;
}
.cuPriceDny.active {
    display: block;
}

.yellowBtn {
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 4px;
    background: #f60;
    color: #fff;
}

.cupText {
        width: 105px;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
}

.w{width: 1160px;margin-left: auto;margin-right: auto;}
.header{width:100%;height:55px;background:#ffc43a;padding-top: 0!important;}
.header .w{position: relative;}
.header .w a.logo{position: absolute;top:8px;left: 0;z-index: 2;width:180px;height: 40px;display: block;background:url(../images/sprite.png) no-repeat 1px 1px;}
.header .w .nav{margin:0 240px 0 200px;}
.header .w .nav ul{float: right;}
.header .w .nav ul li{height: 55px;float: left;}
.header .w .nav ul li>a{display: block;height: 55px;padding-left:20px;padding-right:20px;line-height: 55px;font-size:16px;text-align: center;position: relative;transition:all 0.3s;font-family: "Microsoft YaHei";}
.header .w .nav ul li>a.on:after{content:"";width:60%;height:3px;background:#444;position:absolute;left:20%;bottom:1px;}
.header .w .nav ul li>a:hover{background: #feb300;}
.header .w .nav ul li.chuangyijishi-li>a{position: relative;padding-right: 45px;}
.header .w .nav ul li.chuangyijishi-li>a>i{position:absolute;top:23px;right:20px;z-index:2;width:17px;height:11px;display:block;background:url(../images/sprite.png) no-repeat -43px -78px;}
.header .w .nav ul li.chuangyijishi-li:hover .chuangyijishi-more-link{display: block;}
.chuangyijishi-more-link{border-left: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;box-sizing:border-box;display: none;background: #fff;position: relative;z-index: 2;}
.chuangyijishi-more-link a{display: block;height: 50px;line-height: 50px;font-size: 14px;padding-left: 23px;font-family: "Microsoft YaHei";}
.chuangyijishi-more-link a:hover{background: #F1F1F1;}
.header .w .account{position: absolute;top:0;right: 0;z-index: 2;width:200px;min-height: 55px;}
.header .w .account>a.person{width: 200px;height: 55px;display: block;overflow: hidden;transition:all 0.3s;}
.header .w .account>a.person:hover{background: #feb300;}
.header .w .account>a.person img.pic{width:50px;height:50px;display:block;float:left;margin-left: 15px;border-radius: 100%;/*border: 1px solid #444;box-sizing:border-box;*/position: relative;top:2px;}
.header .w .account>a.person span.name{font-size: 16px;max-width:72px;line-height: 55px;display: block;float: left;margin-left: 8px;margin-right: 8px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-family: "Microsoft YaHei";}
.header .w .account>a.person i{width: 17px;height: 11px;display: block;float: left;position: relative;top:23px;background: url(../images/sprite.png) no-repeat -43px -78px;}
.header .w .account .member-navs{border-left: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;box-sizing:border-box;display: none;background: #fff;transition:all 0.3s;}
.header .w .account:hover .member-navs{display: block;}
.header .w .account .member-navs a{display: block;width: 100%;height: 50px;line-height: 50px;font-size: 14px;transition:all 0.3s;}
.header .w .account .member-navs a:hover{background: #F1F1F1;}
.header .w .account .member-navs a i{width: 25px;height: 25px;display: inline-block;margin:0px 10px 10px 20px;position: relative;top:15px;}
.header .w .account .member-navs a.my-ms i{background: url(../images/sprite.png) no-repeat -77px -66px;}
.header .w .account .member-navs a.manager i{background: url(../images/sprite.png) no-repeat -112px -66px;}
.header .w .account .member-navs a.logout i{background: url(../images/sprite.png) no-repeat -145px -66px;}
